.header {
    padding: 8px;
}

.header .textIcon {
    display: flex;
    align-items: center;
    flex-basis: 25%;
    flex-wrap: nowrap;
}

.header .textIcon img {
    margin-right: 8px;
}

.header .container {
    display: flex;
    align-items: center;
}

.header .container .social {
    flex-basis: 75%;
    justify-content: right;
}

.header .container .social .container {
    display: flex;
    justify-content: space-evenly;
}

@media (max-width: 720px) {
    .header .textIcon {
        margin-top: 12px;
    }

    .header .textIcon b {
        display: none;
    }

    .header .container {
        flex-direction: column;
    }

    .header .container .social {
        flex-direction: 100%;
        width: 100%;
        margin-top: 8px;
    }

    .header .container .social .container {
        flex-direction: row;
    }

    .header .container .social .container .textIcon {
        justify-content: center;
        cursor: pointer;
    }
}