.navbar p {
    border: 2px solid;
    cursor: pointer;
    width: 60%; 
    margin: auto;
    margin-top: 32px;   
}

.navbar p:hover {
    width: 80%;
}

.navbar p.active {  
    color: #ff4552;
    width: 80%;
}