.card {
    border: 2px solid;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
    transition: all 0.7s ease-in-out;
    animation: bg-spin 4s linear infinite;
    text-align: center;
    padding: 20px;
    margin: 4px;
}

.card:hover {
    /* scale: 1; */
}

.card img {
    border: 1px solid #00f0ff;
    /* transition: all 0.7s ease-in-out; */
    /* animation: bg-spin 3s linear infinite; */
}

.card img:hover {
    scale: 1.2;
    transition: all 0.7s ease-in-out;
}

.card .heading,
.card .description,
.card .stack,
.card button {
    margin-top: 8px;
}

.card .heading,
.card .tech_stack {
    color: #526D82;
}

.card button {
    border: none;
    padding: 8px;
}

.card button:hover {
    background-color: #526D82;
    color: #fff;
    cursor: pointer;
}

@keyframes bg-spin {
    0% {
        border-color: #00f0ff;
    }

    25% {
        border-color: #526D82;
    }

    50% {
        border-color: #00f0ff;
    }

    75% {
        border-color: #526D82;
    }

    100% {
        border-color: #00f0ff;
    }
}