.techstack {
    padding: 8px;
    overflow: hidden;
    perspective: 400px;
}

.techstack .icon {
    height: 35px;
    width: 35px;
}

.techstack .layer {
    animation: scroll 60s linear infinite;
    transform-origin: 50% 100%;
    margin-bottom: 24px;
    text-align: center;
}

.techstack .layer h2 {
    font-family: "Star Wars";
    letter-spacing: 2px;
    color: #ffe91f;
    margin-bottom: 12px;
}

.techstack .layer img {
    margin-right: 12px;
}

@media (max-width: 720px) {
    .techstack .icon {
        padding: 4px;
    }
}

/* @keyframes scroll {
    from {
        transform: rotateX(20deg) translateY(0);
        opacity: 1;
    }

    to {
        transform: rotateX(25deg) translateY(-500%);
        opacity: 0;
    }
} */