* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #11111c;
  color: #fff;
}

h1,
h2 {
  color: #ff4552;
}

a {
  text-decoration: none;
  color: #fff;
}

a:hover {
  color: #ff4552;
}

.active {
  color: #ff4552;
  border-bottom: 1px solid #ff4552;
}

@media (max-width: 720px) {
  .active {
    border-bottom: none
  }
}

@font-face {
  font-family: "Star Wars";
  src: url("/fonts/starwars.ttf") format("truetype");
}