.layout {
    height: 100vh;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
}

.layout .header {
    /* border: 1px solid #fff; */
    /* flex-basis: 15vh; */
    margin-top: 12px;
}

.layout .container {
    display: flex;
    flex-basis: 100%;
    align-items: center;
}

.layout .container .navbar {
    flex-basis: 5%;
    margin: auto;
}

.layout .container .body {
    flex-basis: 100%;
}

@media (max-width: 720px) { 
    .layout .header { 
        margin-top: 12px;
    }
    
    .layout .container .navbar {
        display: none;
    }
    
    .layout .container .body {
        flex-basis: 100%;
    }
}