.layout {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.layout .header {
    flex-basis: 15vh;
    margin-top: 12px;
}

.layout .container {
    display: flex;
    flex-basis: 85vh;
}

.layout .container .navbar {
    flex-basis: 5%;
    margin: auto;
}

.layout .container .body {
    flex-basis: 95%;
}

@media (max-width: 720px) { 
    .layout .container .navbar {
        display: none;
    }
    
    .layout .container .body {
        flex-basis: 100%;
    }
}